@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Prompt:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
#layerTop, #layerMiddle, #layerBottom{
    animation-fill-mode: both;
}
body{
    font-family: 'Inter','Prompt',sans-serif;
}
body, #root{
    @apply bg-base-300;
}
textarea::-webkit-scrollbar {
    display: none;
  }